<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.activity">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DcFq7EWFdTgXt7wALzkDtpihSpnbQTZt"/>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <activity android:name="com.yang.activity.VoteResultActivity"/>
        <activity android:name="com.yang.activity.VoteActivity" />
        <activity android:name="com.yang.activity.VoteContentActivity" />
        <activity android:name="com.yang.activity.Main2Activity" />

        <activity android:name="com.chen.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.NoticeContentActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CHECK_NOTICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.AboutActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.SubmitGradeContentActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_SUBMIT_GRADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.SubmitGradeActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_GRADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.UserMsgActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_USER_MSG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.ClassMsgActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_MSG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.ClassMembersActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_MEMBERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.LeaveApplicationActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_LEAVE_APPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.LeaveApplyContentActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_LEAVE_APPLICATION_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.LeaveApplyAddActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_ADD_LEAVE_APPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.ClassSignActivity">
            <intent-filter>
                <action android:name="com.chen.MainActivity.ACTION_CLASS_SIGN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>